{% extends "base.html" %}
{%include "header.html"%}
{% block content %}

<h1>Categories</h1>


{% for i in categories %}
<a href='{{url_for('showCategoryItems',category_name = i.name)}}'>
<div>

<p>{{i.name}}</p>

</div>
</a>
{% endfor %}
</br>
</br>
</br>
{%if 'username' in session %}
<a href="{{url_for('newCatalogItem')}}">
    <button type="button" class="btn btn-success">Add Item</button>
</a>
{%endif%}
<h1>Latest Items</h1>
{% for i in latestItems %}
<div>

<p>{{i.name}}</p>

<p>{{i.description}}</p>

<p> {{i.last_modification}} </p>

</div>

{% endfor %}

{% endblock %}